body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}
.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 2em;
    cursor: pointer;
    background-color: #e6e6fa	;
    color: black;
    border-radius: 5px;
}
.status {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}
.restart {
    margin-top: 10px;
    margin-left: 3.8vw;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}
